
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: #EBF4F8;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: wrap;
}
