<mat-toolbar class="flex-row-center">
  <span>
    <app-menu></app-menu>
  </span>
  <span>
    <ng-content></ng-content>
  </span>
  <div>
    <button
      color="primary"
      mat-icon-button
    >
      <mat-icon
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        notifications
      </mat-icon>
    </button>
    <button mat-stroked-button color="primary">
      Dodaj
      <mat-icon>add</mat-icon>
    </button>
    <button mat-flat-button color="primary" style="margin-left:10px;">Dalej</button>
  </div>
</mat-toolbar>
