.menu-content-wrapper {
  width:100%;
  border-bottom: 1px solid #DBE2EA;
  display:flex;
  align-items: center;
  justify-content: space-between;
  .menu-wrapper {
    ul {
      list-style-type: none;
      display:flex;
      font-size:16px;
      padding:0;
      margin:0;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width:140px;
        cursor: pointer;
        transition: .5s;
        height:80px;
        position: relative;
        text-align: center;
        &::before {
          transition: .2s;
          opacity: 0;
          content: "";
          background-color: #7C9CBF;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0;
        }
        &:hover, &.active {
          background-color: #E2EDF2;
          color: #7C9CBF;
          &::before {
            opacity:1;
            height:3px;
          }
        }
      }
    }
  }
}
