.dashboard-content-wrapper {
  max-width:1550px;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  .holder {
    margin:15px;
    &.w1 {
      width:100%;
    }
    &.w2 {
      width:46%;
    }
    &.w3 {
      width:33%;
    }
  }
}
