.post {
  display:flex;
  flex-direction: column;
  max-width:450px;
  margin:10px 20px;
  border:1px solid #f0f0f0;
  border-radius:5px;
  .title {
    background: #f0f0f0;
    padding:13px 20px;
    border-bottom: 1px solid #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size:16px;
  }
  .desc {
    padding:20px;
  }
}
