.content-box {
  width:100%;
  border-radius:10px;
  padding: 20px 0 30px;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.03);
  &.white {
    background-color:#fff;
  }
  &.outline {
    border:2px solid #DBE2EA;
  }
  .title {
    padding:0 30px;
    color: #756F86;
    border-bottom: 1px solid #DBE2EA;
    h2 {
      display:flex;
      align-items: center;
      mat-icon {
        margin-right:20px;
      }
    }
  }
  .content {
    padding: 20px 30px 0;

  }
}
